body {
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right {
    padding: 16px;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
}

a {
    color: #99a093;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    padding: 16px;
}

.signup {
    background-color: #1F2937;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtitle {
    font-size: 18px;
    color: #E5E7EB;
}

.button-one {
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    padding: 8px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition-duration: 0.4s;
}

.button-one:hover {
    color: #F9FAF8;
    background-color: #1b70f8
}

.random-info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937
}

.container {
    border: #3882F6
}

.quote {
    color: #99a093;
}

.quote-author {
    color: #1F2937
}

.title-bot {
    font-size: 16px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtitle-bot {
    font-size: 12px;
    color: #E5E7EB;
}
.button-two {
    color: #3882F6;
    background-color: #F9FAF8;
    border: #F9FAF8;
    padding: 8px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition-duration: 0.4s;
}

.button-two:hover {
    color: #F9FAF8;
    background-color: #1b70f8
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}